* {
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
    font-family: var(--font-main);
    color: var(--color-white);
    font-size: 16px;
    margin: 0;
    padding: 0;
}

input {
    font-family: var(--font-second);
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    transition: .1s linear;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    margin-bottom: 32px;
}

h1, h2 {
    font-weight: 300;
    font-size: 42px;
    line-height: 1.2;
}

h3 {
    font-size: 28px;
    font-weight: 300;
}

h4 {
    font-size: 16px;
    font-weight: 400;
}

p {
    margin: 0;
}

.title {
    &_blue {
        color: var(--color-conv-light);
        font-weight: 500;
        white-space: nowrap;
    }
}

.text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    max-width: 750px;

    p {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

.link {
    color: var(--color-conv-light);

    &:hover {
        color: var(--color-conv-dark);
    }
}

.circle-link {
    width: 34px;
    display: block;

    &:after {
        content: '';
        width: 34px;
        height: 34px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--color-conv-light) url('../images/icons/angle_white.svg') no-repeat 10px 14px;
        transition: .2s linear;
        transform: rotate(-90deg);
    }

    &:hover {
        &:after {
            transform: rotate(-90deg) scale(1.1);
            background-color: var(--color-conv-dark);
        }
    }
}

.dni {
    display: none !important;
}

.custom-select {
    opacity: 0;
}

.black-bg {
    background: var(--color-main-darkness);
}

.full-screen {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 107px 1fr 284px;
}

@media screen and (max-width: $md) {
    .full-screen {
        min-height: auto;
        display: block;
    }
}

@media screen and (max-width: $sm) {
    h1, h2 {
        font-size: 38px;
    }
}

@media screen and (max-width: 413px) {
    h1, h2 {
        font-size: 34px;
    }

    .title {
        &_blue {
            white-space: normal;
        }
    }
}
