.equipment {
    padding: 68px 0px 25px;

    &__title {
        color: var(--color-main-darkness);
    }

    &__wrapper {
        margin-top: 50px;
        display: flex;
        gap: 47px;
    }

    &__card {
        padding: 29px;
        min-width: 254px;
        width: 254px;
        height: 344px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: var(--color-main-darkness);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: var(--radius-standard);
        font-weight: 300;
        font-size: 16px;
        position: relative;
    }

    &__card-inner {
        padding-right: 42px;
    }

    &__card-name {
        margin-bottom: 9px;

        span {
            font-weight: 500;
            display: block;
        }
    }

    &__card-link {
        @extend .circle-link;

        position: absolute;
        right: 29px;
        bottom: 29px;
    }

    &__shop {
        border-radius: var(--radius-standard);
        background: var(--color-conv-light);
        padding: 37px;
        min-width: 254px;
        width: 254px;
        height: 344px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__shop-text {
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 24px;
    }

    &__shop-link {
        color: var(--color-white);
        font-size: 18px;
        font-weight: 400;

        &:hover {
            opacity: 0.7;
        }
    }
}

@media screen and (max-width: $lg) {
    .equipment {
        &__wrapper {
            flex-wrap: wrap;
            gap: 30px 54px;
            justify-content: center;
        }

        &__shop {
            height: auto;
            width: 100%;
        }
    }
}

@media screen and (max-width: $md) {
    .equipment {
        &__wrapper {
            gap: 20px;
        }

        &__shop {
            width: 254px;
            height: 344px;
        }
    }
}

@media screen and (max-width: $sm) {
    .equipment {
        padding: 38px 0 10px;

        &__wrapper {
            gap: 10px;
        }

        &__title {
            span {
                display: block;
            }
        }

        &__card {
            min-width: 173px;
            width: 173px;
            height: 235px;
            background-size: contain;
            padding: 20px 15px;
        }

        &__shop {
            min-width: 173px;
            width: 173px;
            height: 235px;
            padding: 20px 10px 20px 20px;
        }

        &__shop-text {
            font-size: 18px;
            margin-bottom: 10px;
        }

        &__shop-link {
            font-size: 16px;
        }

        &__card-name,
        &__card-price {
            font-size: 14px;
        }

        &__card-link {
            right: 15px;
            bottom: 15px;
        }

    }
}