.hero {
    background: var(--color-main-darkness)  url('../images/offer.png') no-repeat center / cover;
    position: relative;
}

@media screen and (max-width: $sm) {
    .hero {
        background: var(--color-main-darkness)  url('../images/offer_mob.png') no-repeat top center / cover;
    }
}
