.markets {
    padding: 0 0 25px;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    &__link {

        &_dssl img {
            max-width: 192px;
            width: 100%;
        }

        &_ozon img {
            max-width: 102px;
        }

        &_wildberries img {
            max-width: 192px;
        }

        &_ymarket img {
            max-width: 230px;
        }

        &_sber img {
            max-width: 134px;
        }

        &:hover {
            img {
                filter: grayscale(0);
            }
        }
    }

    &__image {
        transition: .3s linear;
        filter: grayscale(100%);
        height: auto;
    }
}

@media screen and (max-width: $lg) {
    .markets {
        padding-top: 55px;

        &__wrapper {
            gap: 20px 60px;
        }
    }
}

@media screen and (max-width: $sm) {
    .markets {
        padding-top: 0;
        padding-bottom: 38px;

        &__wrapper {
            gap: 20px 30px;
        }

        &__link {
            order: 2;

            &_dssl {
                order: 0;
            }

            &_ymarket {
                order: 1;
            }
        }

    }
}
