.nav {
    display: flex;
    align-items: center;

    &__item {
        &_login {
            display: flex;
            align-items: center;

            &:before {
                content: '';
                margin-right: 30px;
                width: 1px;
                height: 12px;
                background: var(--color-main-middle);
            }

            &:after {
                content: '';
                margin-left: 9px;
                min-width: 18px;
                width: 18px;
                height: 18px;
                background: url('../images/icons/door.svg') no-repeat center;
            }

            .nav__link:hover {
                color: var(--color-main-middle);
            }
        }

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__link {
        color: var(--color-white);
        font-size: 14px;

        &:hover {
            color: var(--color-conv-light);
        }
    }
}

@media screen and (max-width: $lg) {
    .nav {
        flex-direction: column;
        position: absolute;
        top: 0;
        padding: 100px 0 70px;
        background: #{HexToRGBA($color-main-darkness, 0.9)};
        height: 100vh;
        z-index: 2;
        display: none;
        left: -100%;
        transition: .2s linear;
        opacity: 0;

        &.is-visible {
            display: flex;
        }

        &.is-active {
            left: 0;
            opacity: 1;
        }

        &__item {
            &:first-child {
                margin-top: auto;
            }

            &_login {
                margin-top: auto;

                .nav__link {
                    font-size: 14px;
                }

                &:before {
                    display: none;
                }
            }

            &:not(:last-child) {
                margin-right: 0px;
                margin-bottom: 30px;
            }
        }

        &__link {
            font-size: 21px;
        }
    }
}