.programm {
    padding: 163px 0px 149px;
    background: var(--color-main-darkness) url('../images/programm.png') no-repeat center / cover;

    &__lettering {
        font-size: 24px;
        font-weight: 300;
        opacity: 0.3;
        margin-bottom: 15px;
    }

    &__wrapper {
        max-width: 480px;
    }

    &__button {
        margin-top: 47px;
        max-width: 278px;
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 1.6;
        margin-top: 17px;
    }
}

@media screen and (max-width: $sm) {
    .programm {
        padding: 143px 0px;
        background: var(--color-main-darkness) url("../images/programm.png") no-repeat -591px -80px / cover;

        &__lettering {
            font-size: 19px;
            max-width: 149px;
        }

        &__title {
            max-width: 250px;
        }

        &__text {
            font-size: 16px;
            margin-top: 22px;
            line-height: 1.8;
        }

        &__button {
            max-width: 225px;
            margin-top: 31px;
        }

    }
}
