.select2 {
    width: 208px !important;

    .select2-selection--multiple {
        display: flex;
        flex-direction: row-reverse;
        min-height: 50px;
        height: auto;
        background-color: var(--color-main-darkness);
        border: 1px solid var(--color-white);
        border-radius: 16px;

        .select2-search--inline {
            display: none;
        }

        .select2-selection__rendered {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 4px;
            align-items: center;
            padding: 4px 8px 0px;
        }

        .select2-selection__choice {
            margin: 0;
            background: transparent;
            border: none;

            &__remove {
                border-right: none;
                background: transparent !important;
            }
        }
    }

    .select2-selection--single {
        border: 1px solid var(--color-white);
        background-color: var(--color-main-darkness);
        border-radius: var(--radius-standard);
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 30px 14px 20px;

        .select2-selection__rendered {
            color: var(--color-white);
            padding-left: 0;
        }

        .select2-selection__arrow {
            height: 7px;
            width: 12px;
            min-width: 12px;
            position: static;
            background: url('../images/icons/angle_white.svg') no-repeat center;

            b {
                display: none !important;
            }
        }
    }

    &-dropdown {
        border: 1px solid var(--color-white);
        background-color: var(--color-main-darkness);
        color: var(--color-white);
        border-radius: var(--radius-standard);

        .select2-results__options {
            padding-bottom: 14px;
            padding-top: 8px;
        }

        .select2-results__option {
            background: transparent !important;
            padding-left: 20px;
            padding-right: 30px;

            &--highlighted {
                color: var(--color-conv-light) !important;
            }
        }
    }

    &.select2-container {

        &--default {
            &.select2-container--focus {
                .select2-selection--multiple {
                    border: 1px solid var(--color-white);
                }
            } 
        } 
        
        &--open {
            .select2-selection__arrow {
                transform: rotate(180deg);
            }

            &.select2-container--below {
                .select2-selection--single {
                    border-bottom: none !important;
                }
            }

            &.select2-container--above {
                .select2-selection--single {
                    border-top: none !important;
                }
            }
        }
    }
}