.solutions {
    padding: 78px 0 90px;
    background: var(--color-main-darkness);

    .container {
        display: flex;
        gap: 172px;
    }

    &__title {
        margin-bottom: 44px;
    }

    &__inner {
        max-width: 357px;
    }

    &__text {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.2;
        max-width: 290px;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__list {
        max-width: 519px;
        display: flex;
        flex-wrap: wrap;
        gap: 50px 88px;
    }

    &__item {
        max-width: 222px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__icon {
        margin-bottom: 21px;
    }

    &__name {
        font-size: 37px;
        font-weight: 500;
    }

    &__text-card {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.2;
        margin: 10px 0px 21px;
    }

    &__link {
        @extend .circle-link;

        width: auto;
        display: flex;
        align-items: center;
        gap: 14px;
        font-size: 18px;
        color: var(--color-white);
    }

}