.solutions {
    padding: 78px 0 90px;
    background: var(--color-main-darkness);

    .container {
        display: flex;
        gap: 172px;
    }

    &__title {
        margin-bottom: 44px;
    }

    &__inner {
        max-width: 357px;
    }

    &__text {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.2;
        max-width: 290px;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__list {
        max-width: 519px;
        display: flex;
        flex-wrap: wrap;
        gap: 50px 88px;
    }

    &__item {
        max-width: 222px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__icon {
        margin-bottom: 21px;
    }

    &__name {
        font-size: 37px;
        font-weight: 500;
    }

    &__text-card {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.2;
        margin: 10px 0px 21px;
    }

    &__link {
        @extend .circle-link;

        width: auto;
        display: flex;
        align-items: center;
        gap: 14px;
        font-size: 18px;
        color: var(--color-white);
    }

}

@media screen and (max-width: $lg) {
    .solutions {
        .container {
            display: block;
        }

        &__inner,
        &__text {
            max-width: 100%;
        }

        &__list {
            margin-top: 40px;
            max-width: 100%;
            gap: 80px 110px;
            justify-content: center;
        }

        &__item {
            width: 100%;
        }
    }
}

@media screen and (max-width: $md) {
    .solutions {
        &__list {
            gap: 80px;
        }
    }
}

@media screen and (max-width: $sm) {
    .solutions {
        padding: 47px 0;

        &__title {
            margin-bottom: 22px;
        }

        &__text {
            max-width: 95%;
        }

        &__name {
            font-size: 28px;
        }

        &__text-card {
            font-size: 16px;
            margin: 13px 0px 37px;
            min-height: 58px;
        }

        &__icon {
            margin-bottom: 30px;
        }

        &__link {
            flex-direction: column;
        }

        &__list {
            justify-content: flex-start;
            margin-top: 27px;
            gap: 48px 16px;
        }

        &__item {
            max-width: 174px;
            width: 100%;
        }

    }
}
